body {
  font-family: Lato, sans-serif;
}

.navbar-default {
  background-color: #44a8ff;
}

.navbar-default .navbar-brand{
  color: white;
}

.navbar-default .navbar-nav > li > a{
  color: white;
}

.ui-menu .ui-menu-item-wrapper {
  font-family: Lato, sans-serif;
}

.navbar-text.greetings {
    font-family: Lato, sans-serif;
    color: #FFEB3B;
}

.ext-signin {
  margin-left: 30px;
  margin-top: 30px;
}

.signin-form {
  margin-left: 30px;
}

/*.v-divider {
  position: absolute;
  height: 300px;
  width: 5px;
  left: 30%;
  border-left: 1px solid black;
}*/

.item-price {
  font-size: 10px;
  color: #FF5722;

}

@media screen and (max-width: 767px) {
    .v-divider {
      border: 0;
    }
}

.ui-accordion .ui-accordion-content {
  font-family: Lato, sans-serif;
}

.item-price {
  font-family: Lato, sans-serif;
  font-size: 22px;
  float: right;
  font-weight: bolder;
  color: #ff5722;
}

.ui-accordion .ui-accordion-header {
  background-color: #9E9E9E;
  font-family: Lato, sans-serif;
}

.ui-widget.ui-widget-content {
  border: 0 !important;
}

.ui-menu .ui-menu-item-wrapper{
  color: #FF9800;
  font-weight: bold;
}

.catalog_recent_items {
  color: gray !important;
}
