{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
<div class="container">
  <h1>Welcome to {{ catalog.name }} catalog !</h1>
<a href="/catalogs/{{ catalog.name }}/items/new" class="btn btn-xs btn-default">Create New Item</a> |
<a href="/catalogs/{{ catalog.name }}/edit" class="btn btn-xs btn-default">Edit Catalog</a> |
<a href="/catalogs/{{ catalog.name }}/delete" class="btn btn-xs btn-danger">Delete Catalog</a><br /><br />
  {% if items %}
  <section class="row">
    <div class="col-md-6">
      <div id="accordion">
          {% for item in items %}
            <h3>{{ item.name }}</h3>
            <div>
              <h3 style="display: inline;">{{ item.name }}</h3>
              <span class="item-price">{{ item.price }}</span>
              <br />
              <br />
              <p>
                {{item.description}}
              </p>
              <div class="mod_items">
                <a href='/catalogs/{{ catalog.name }}/items/{{item.name}}/edit'>edit</a> |
                <a href='/catalogs/{{ catalog.name }}/items/{{item.name}}/delete'>delete</a>
              </div>
            </div>
          {% endfor %}
      </div>
    </div>
    {% else %}
      No items here <a href='/catalogs/{{ catalog.name }}/items/new'>create</a> one !
    {% endif %}

  </section>
{% endblock %}
