{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
{% if catalogs %}
<div class="container">
<div class="row">
  <div class="col-sm-4">
    <h2>Catalogs</h2>
    <hr />
    <ul id="catalogs">
    {% for catalog in catalogs %}
      <li>
      <a href="/catalogs/{{ catalog.name }}/items" class="catalog_list">{{ catalog.name }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
  <div class="col-sm-1 v-divider"></div>
  <div class="col-sm-4">
    <h2>Recent</h2>
    <hr />
    <ul id="recent_items">
      {% for item in items %}
        <li>
          <a href="catalogs/{{ item.catalog.name }}/items"
          class="catalog_list">{{item.name}} ( <span class="catalog_recent_items">
          {{item.catalog.name}}</span> )</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
</div>
{% else %}
  <h2> No catalogs here ! <a href='/catalogs/new'>Create One</a></h2>
{% endif %}
{% endblock %}
